.outro {
  flex: 0 0 auto;
  background-color: var(--black);
  color: var(--white);
  padding-block: 80px;
  overflow: hidden;
  position: relative;
  isolation: isolate;

  &__container {
    width: min(80ch, 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-direction: column;
    gap: 40px;
    @media (min-width: 1100px) {
      flex-direction: row;
    }
  }

  &__title {
    font-size: var(--font-size-88);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--gray-200);
    line-height: 0.9;
  }
  &__talk {
    @media (min-width: 1100px) {
      padding-left: 1ch;
    }
  }
}
