.outro {
  flex: 0 0 auto;
  color: var(--white);
  padding-block: 0;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  background-color: var(--alpha-tertiary);

  &::before {
    width: 100%;
    background-color: var(--alpha);
    padding-block: 12px;
    position: absolute;
    bottom: 0;
    display: block;
    content: " ";
  }

  &__wrapper {
    width: 100%;
    background-color: var(--alpha);
    padding-block: 80px;
  }

  &__container {
    width: min(80ch, 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-direction: column;
    gap: 40px;
    @media (min-width: 1100px) {
      flex-direction: row;
    }
  }

  &__title {
    font-size: var(--font-size-88);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--gray-200);
    line-height: 0.9;
  }
  &__talk {
    @media (min-width: 1100px) {
      padding-left: 1ch;
    }
  }
}
