@use "./mixins.scss" as *;
@use "./utils.scss";

:root {
  @include generate-font-size(8, 96);

  --white: hsl(0, 0%, 100%);
  --black: hsl(221, 80%, 1%);
  --gray-100: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-900: hsl(0, 0%, 10%);

  --alpha: hsl(221, 80%, 10%);
  --alpha-secondary: hsl(221, 80%, 13%);
  --beta: hsl(253, 72%, 30%);
  --gamma: hsl(27, 65%, 30%);
  --delta: hsl(54, 98%, 30%);
  --epsilon: hsl(189, 88%, 30%);

  --breakpoint-tablet-min: 550px;
  --breakpoint-laptop-min: 1100px;
  --breakpoint-desktop-min: 1500px;

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: var(--font-primary);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#__next {
  isolation: isolate;
  height: 100%;
}
