@use "./mixins.scss" as *;
@use "./utils.scss";

:root {
  @include generate-font-size(8, 96);

  --white: hsl(0, 0%, 100%);
  --black: hsl(217, 100%, 1%);
  --gray-100: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-900: hsl(0, 0%, 10%);

  --alpha: hsl(216, 100%, 4%);
  --alpha-secondary: hsl(217, 100%, 3%);
  --alpha-tertiary: hsl(217, 100%, 2%);
  --beta: hsl(211, 100%, 12%);
  --beta-secondary: hsl(195, 91%, 17%);
  --beta-tertiary: hsl(179, 90%, 15%);
  --gamma: hsl(209, 100%, 20%);
  --gamma-secondary: hsl(193, 91%, 26%);
  --gamma-tertiary: hsl(177, 90%, 24%);
  --delta: hsl(46, 100%, 50%);
  --delta-secondary: hsl(40, 90%, 48%);
  --delta-tertiary: hsl(33, 100%, 53%);
  --epsilon: hsl(50, 100%, 52%);
  --epsilon-secondary: hsl(44, 98%, 46%);
  --epsilon-tertiary: hsl(38, 100%, 51%);

  --breakpoint-tablet-min: 550px;
  --breakpoint-laptop-min: 1100px;
  --breakpoint-desktop-min: 1500px;

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: var(--font-primary);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#__next {
  isolation: isolate;
  height: 100%;
}
