.about {
  &__biography {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: min(80ch, 90%);
  }
  &__section {
    background: linear-gradient(
      180deg,
      var(--alpha-secondary) 80%,
      var(--alpha-tertiary) 100%
    );
    color: var(--white);
    display: grid;
    align-content: center;
    justify-items: center;
  }
  &__tldr {
    color: var(--epsilon-tertiary);
    font-weight: 600;
  }

  &__wizards {
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
  }
}
