.about {
  &__biography {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: min(80ch, 90%);
  }
  &__section {
    background-image: linear-gradient(
      180deg,
      hsl(240deg 10% 4%) 0%,
      hsl(240deg 17% 5%) 11%,
      hsl(240deg 26% 5%) 22%,
      hsl(234deg 33% 6%) 33%,
      hsl(231deg 41% 7%) 44%,
      hsl(227deg 51% 7%) 56%,
      hsl(227deg 56% 8%) 67%,
      hsl(225deg 64% 9%) 78%,
      hsl(224deg 71% 9%) 89%,
      hsl(221deg 80% 10%) 100%
    );
    color: var(--white);
    display: grid;
    align-content: center;
    justify-items: center;
  }
  &__tldr {
    color: var(--delta);
    font-weight: 600;
  }

  &__wizards {
    list-style-type: circle;
    list-style-position: inside;
    padding: 0;
  }
}
